body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}
img {
    width: 200px;
    height: 200px;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}